/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ======== Common css ========== */
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}

.all-btn{
    background-color: #E76F51;
    color: #ffff;
    padding: 10px 24px;
    font-weight: bold;
    outline: none;
    border: 2px solid #E76F51;
    border-radius: 5px;
    transition: 1s;
}
.all-btn:hover{
    background-color: white !important;
    border: 2px solid #E76F51;
    color: #E76F51;
    
}
.active-btn {
    background-color: white !important;
    border: 2px solid #E76F51;
    color: #E76F51;
}
.active-btn:hover{
    background-color: #E76F51 !important;
    color: #ffff;
}
/* ====== Header area ======= */
header{
    background-color: #264653;
    width: 100%;
    margin: auto;
    color: white;
}
.nav-item{
    margin-right: 36px;
}
.nav-link{
    color: white !important;
    font-size: 16px;
    font-weight: 500;
}
.banner-area h1{
    letter-spacing: 3px;
}
/* ========= Feature area ========== */

.feature-area p{
   
    color: #E76F51;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 8px;
}
.feature-area p::after{
    content: "";
    height: 2px;
    width: 50%;
    background-color: #E76F51;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.feature-area .col:nth-child(odd){
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
}
.feature-area .col:nth-child(odd):hover{
    filter: grayscale(0);
}

/* ========== Client section ======== */
span{
    color: #E76F51;
}
.client-area img{
    width: 150px;
    height: 150px;
    margin: auto;
}
.client-area .card-star{
    color: #E77C40;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
}


/* ========= FAq area ========= */
.accordion .accordion-button {
    background-color: #264653;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border: none !important;
    outline: none !important;
}